#container {
    max-width: 100%;
    }

#header {
    background: #ffffff;
    max-width: 1903px;
    height: 180px;
}


.photo {
    max-width: 1903px;
    height: 616px;
    background-image: url(img/2-layers.jpg);
}

ul.links {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 1000px;
   }

ul.links li {
    color: black;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 50px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
   }



ul.links2 {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 1000px;
   }

ul.links2 li {
    color: black;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 50px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
   }   

.biograf {
    background-image:url(img/text.jpg);
    max-width: 1903px;
    height: 370px;
}



.table {
    max-width: 1903px;
    height: 740px;
    background-image: url(img/vector-smart-object.jpg);
}


.priem {
    color: red;
}


.forma {
    max-width: 600px;
    float: right;
    padding: 200px 200px 100px 0;
    clear:both;
    text-align: center
}





.map {
    width: 1903px;
    height: 400px;
    background-image: url(img/map.jpg);
}

.footer {
    background: #58585a;
    width: 1903px;
    height: 141px;
    
}

.end {
    max-width: 1903px;
    height: 50px;
    background-color: #4a4a4b;
}

